extends ./layout.pug

block content
    div.create-container
        form(action="/edit",method="post")
            input(type="hidden" name="_id" value= superhero._id)
            input(type="text",placeholder="superhero name", required="required", name="superhero" value= superhero.name)
            input(type="text",placeholder="description",required="required",name="description" value= superhero.description)
            button Confirm
    a(href= "/") Home